
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

.picksPopupTable td {
    padding-left:.5em;

}

.DocumentCloseButton {
    cursor: pointer;
}

.commitPickList td{
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

/*.JpgGenStatusDialog{*/

    /*background-color:yellow;*/
    /*width:80%;*/
    /*height:80%;*/

/*}*/

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
    background-color: #CCCCCC;
    cursor: row-resize;
    background: #CCCCCC url(limages/splitPanelThumb.png) center center no-repeat;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
    background-color: #CCCCCC;
    cursor: col-resize;
    background: #CCCCCC url(limages/splitPanelThumb.png) center center no-repeat;
}
