table {
    padding: 0;
    margin: 0;
    border: none;
}

td {
    padding: 0;
    margin: 0;
    border: none;
}

.AngleSelector {
    margin-top: 10px;
    width: 180px;
    /*text-align: center;*/
    /*background-color: yellow;*/
}

.AngleSelector.over {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.AngleSelector.over .labelBackground {
    background-color: black;
    opacity: .2;
}

.AngleSelector.over .labelText {
    color: white;
}

.ViewSelector {
    margin-top: 7px;
}

.ViewSelector .Thumb  {
    border: 2px #CCCCCC solid;
}

.ViewSelector .Thumb.selected  {
    border: 2px #000000 solid;
}



